body{
  background-color:  #eee;
  display: flex;
  padding: 5rem;
  flex-wrap: wrap;
}
header,main,aside,footer{
  padding: 2rem;
  background-color: #fff;
  border-radius: 0.4rem;
  color:#000;
  margin: 5px;
  box-shadow: 1px 1px 5px #000;
}
header, footer{
  flex-basis: 100%;
}
header{
  padding-bottom: 5rem;
}
main, aside{
  padding-bottom: 15rem;
}
main{
  flex: 8 1 40rem;
}
aside{
  flex: 2 1 20rem;
}
