body{
  background-color: #eee;
  padding-left: 40px;
  padding-right: 40px;
}
div.page{
  display: flex;
  flex-wrap: wrap;
}
img{
  float: right;
  width: 14.5em;
  background-color: #fff;
  border: solid 0.4em #000;
  padding: 1rem;
  vertical-align: middle;
  margin-top: 0px;
  margin-left: 20px;
  margin-right: 32px;
  margin-bottom: 5px;
}
#img-two{
  float:left;
  width: 10em;
  margin-left: 2px;
  margin-right: 15px;
}
blockquote{
  text-align: auto;
  float:right;
  width:40%;
  border-left: 2px solid gray;
  height: 100%;
  padding-left: 70px;
  margin-right: 100px;
  font-family: Georgia, serif;
  font-style: italic;
}
blockquote p{
  margin-left: -30px;
}
aside a{
  color: rgb(0, 153,0);
  text-decoration: none;
}
h1, h2{
  font-family: Georgia, serif;
  padding-bottom: 2px;
}
article h1{
  font-size: 30px;
}
header{
  flex-basis: 100%;
  border-bottom: 3px solid black;
}
header h1{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-transform: uppercase;
  font-size: 50px;
}
p{
  text-align: justify;
}
main{
  flex: 8 1 40rem;
}
aside{
  flex: 2 1 10rem;
}
iframe{
  margin-left: 20px;
  margin-right: -20px;
}
