.flex-container{
    padding: 20px;
    display: flex;
    gap: 1em;
    background-color: rgb(41, 100, 249);
}
div div{
    font-size: 40px;
    padding: 30px;
    background-color: white;
}
#box1{
    flex-shrink: 0;
}
#box2{
    flex-shrink: 1;
}
#box3{
    flex-shrink: 2;
}
