body{
    font-family: Helvetica, sans-serif;
}
div{
    background-color: rgb(57, 137, 194);
    padding-right: 8rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
    margin: 5rem;
    width: 50rem;
    border: 5px solid black;
    border-radius: 10px;
}
h4{
    text-transform: uppercase;
}
h1{
    font-size: 36px;
    color: #fff;
}
p{
    text-indent: 50px;
    line-height: 1.8;
    Width: 34rem;
    font-size: 15px;
}
img{
    position: absolute;
    left: 45rem;
    bottom: 18rem;
    width: 300px;
}
input{
    margin-left: 90px;
    padding: 7px;
    background-color: inherit;
    border: 1px solid black;
    border-radius: 5px;
    font-weight: bold;
}
.sales{
    background-color: rgb(198, 71, 92);
    color: #fff;
}
input:hover{
    cursor: pointer;
}
