@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Raleway:wght@100&family=Recursive:wght@300&family=Righteous&family=Roboto:wght@100&family=Young+Serif&display=swap');
body{
    font-family: 'Great Vibes', cursive;
    font-family: 'Raleway', sans-serif;
    font-family: 'Recursive', sans-serif;
    font-family: 'Righteous', cursive;
    font-family: 'Roboto', sans-serif;
    font-family: 'Young Serif', serif;

    background: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fd3e1m60ptf1oym.cloudfront.net%2Fd7de27b3-c9fe-4f1b-a9f3-ca88750115f5%2FM28265-FR-01_uxga.jpg&f=1&nofb=1&ipt=c93589a51613db9eb361380b52916149e4f1965617c11eb57f43b55e58bcbe7a&ipo=images") no-repeat, center center;
    background-size: fill;
    background-position-x: center;
}   
h1{
    position: absolute;
    left:50px;
    top:50px;
    font-size: 50px;
    text-shadow: 1px 1px 1px lightblue;
}
@media screen and (max-width:606.5px){
    .fade-in-2{
       padding-top: 50px;
    }
}
#content{
    position: fixed;
    left:10px;
    top:150px;
}
nav{
    overflow: hidden;
    border:solid black;
    color:black;
}
nav ul{
    margin:0;
    padding: 0;
}
nav a{
    float: right;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    color: inherit;
}
#left{
    float:left;
}
nav a:hover{
    background-color: black;
    color:lightblue;
}
li a{
    display: block;

    text-align: center;
    text-decoration: none;
    color: inherit;

    border: solid black;

    padding: 5px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 50px;

    box-shadow: 1px 1px 1px lightblue;
}
li a:hover{
    background-color: black;
    color:pink;
    box-shadow: 2px 2px 1px #8d8d8d;
}
.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 2s;
}
.fade-in-2{
    opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 4s;
}
footer{
    position: fixed;
    bottom: 0;
    padding-left: 10px;
    color:white;
    font-size: 17px;
    text-shadow: 3px 3px 1px black;
}
@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
