.flex-container{
    padding: 20px;
    display: flex;
    gap: 1em;
    background-color: rgb(41, 100, 249);
}
.flex-container > div{
    font-size: 40px;
    padding: 30px;
    background-color: white;
}
#box1{
    padding-bottom: 150px;
}
#box2{
    align-self: center;
    background-color: pink;
}
