.flex-container{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 70px;
    background-color: rgb(41, 100, 249);
}
div div{
    font-size: 40px;
    padding: 30px;
    background-color: white;
}
