@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Raleway:wght@100&family=Recursive:wght@300&family=Righteous&family=Roboto:wght@100&family=Share+Tech&family=Young+Serif&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    padding: 5px;
}
header{
    text-align: center;
    span{
        color:rgb(60, 121, 179)
    }
    p{
        margin-top: -7px;
        font-size: 12.5px;
    }
}
.container ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5px;

    div{
        width: 23rem;
        background-color: rgb(107, 131, 153);
        border-radius: 25px;
        padding-bottom: 20px;
        margin-bottom: 5px;

        h2{
            margin-left: 20px;
        }
        p{
            margin-left: 20px;
        }
    }
    div:first-child{
        margin-left: 148px;
    }
    div:last-child{
        margin-right: 150px;
    }
    input{
        font-size: 12px;
        width: 100px;
        border-radius: 20px;
        padding: 5px;
        margin-left: 20px;
        background-color: rgb(60, 121, 179);
        border: 1px solid #fff;
        color: #fff;
    }
}
img{
    width: 368px;
    border-radius: 25px;
}

@media screen and (max-width: 1450px){
    .container ul div:first-child{
        margin-left: 20px;
    }
}
@media screen and (max-width: 1350px){
    .container ul div:first-child{
        margin-left: 450px;
    }
    .container ul div{
        margin-left: 450px;
    }
}
@media screen and (max-width: 1250px){
    .container ul div:first-child{
        margin-left: 350px;
    }
    .container ul div{
        margin-left: 350px;
    }
}
@media screen and (max-width: 1150px){
    .container ul div:first-child{
        margin-left: 300px;
    }
    .container ul div{
        margin-left: 300px;
    }
}
@media screen and (max-width: 1050px){
    .container ul div:first-child{
        margin-left: 270px;
    }
    .container ul div{
        margin-left: 270px;
    }
}
@media screen and (max-width: 950px) and (min-width: 850px){
    .container ul div:first-child{
        margin-left: 260px;
    }
    .container ul div{
        margin-left: 260px;
    }
}
@media screen and (max-width: 850px) and (min-width: 750px){
    .container ul div:first-child{
        margin-left: 180px;
    }
    .container ul div{
        margin-left: 180px;
    }
}
@media screen and (max-width: 750px) and (min-width: 650px){
    .container ul div:first-child{
        margin-left: 120px;
    }
    .container ul div{
        margin-left: 120px;
    }
}
@media screen and (max-width:650px) and (min-width: 500px){
    .container ul div:first-child{
        margin-left: 80px;
    }
    .container ul div{
        margin-left: 80px;
    }
}
@media screen and (max-width: 500px) and (min-width: 400px){
    .container ul div:first-child{
        margin-left: 20px;
    }
    .container ul div{
        margin-left: 20px;
    }
}
@media screen and (max-width: 400px){
    .container ul div:first-child{
        margin-left: -20px;
    }
    .container ul div{
        margin-left: -20px;
    }
}
